<table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="users" dir="rtl">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>מספר מתפלל</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
        <td mat-footer-cell *matFooterCellDef>
            *
        </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>שם משפחה</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="action == 'edit' && row.id==updatedUserId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #saveTemplate>
                <mat-form-field>
                    <input matInput [(ngModel)]="row.lastName">
                </mat-form-field>
            </ng-template>
            <ng-template #editTemplate>
                {{row.lastName}}
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field>
                <input matInput placeholder="שם משפחה" [(ngModel)]="newRow.lastName">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>שם פרטי</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="action == 'edit' && row.id==updatedUserId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #saveTemplate>
                <mat-form-field>
                    <input matInput [(ngModel)]="row.firstName">
                </mat-form-field>
            </ng-template>

            <ng-template #editTemplate>
                {{row.firstName}}
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field>
                <input matInput placeholder="שם פרטי" [(ngModel)]="newRow.firstName">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>מייל</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="action == 'edit' && row.id==updatedUserId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #saveTemplate>
                <mat-form-field>
                    <input matInput [(ngModel)]="row.email">
                </mat-form-field>
            </ng-template>

            <ng-template #editTemplate>
                {{row.email}}
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field>
                <input matInput placeholder="מייל" [(ngModel)]="newRow.email">
            </mat-form-field>
        </td>
    </ng-container>

    <!-- Is Guest Column -->
    <ng-container matColumnDef="isGuest">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>אורח?</th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox [(ngModel)]="row.isGuest" [disabled]="action !== 'edit' || row.id!==updatedUserId">
            </mat-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field>                
                <mat-checkbox [(ngModel)]="newRow.isGuest" ></mat-checkbox>
            </mat-form-field>
        </td>
    </ng-container>
    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row" class="action-link">
            <ng-container *ngIf="action == 'edit' && row.id==updatedUserId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #editTemplate>
                <button class="btn btn-success" (click)="setAction('edit',row)">
                    <i class="fa fa-edit"></i>
                </button>
            </ng-template>
            <ng-template #saveTemplate>
                <button class="btn btn-success" (click)="saveUser(row)">
                    <i class="fa fa-save"></i>
                </button>
            </ng-template>

            <button class="btn btn-danger" (click)="deleteUser(row.id)">
                <i class="fa fa-remove"></i>
            </button>            
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <button class="btn" mat-button (click)="addUser()" dir="rtl" mat-flat-button color="primary">
                <i class="fa fa-plus"></i>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>