:host {
    display: block;
    /* left: 20%;  */
    width: 12%;  
    margin-left: 45%;
    margin-top: 5%;
}

.login-error {
    margin-top: 5px;
}

.password-input{
    width: 90%;
    display: inline-block;
    margin-right: 5px;
}

.fa {
    font-size: 17px;
}