.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

  ul {
     list-style: none;
  }

  .welcome {
     padding-right: 16px;
     padding-top: 15px;
  }

  mat-toolbar-row:first-child{
     height: 20px;
  }