<mat-toolbar color="primary">  
    <mat-toolbar-row>        
        <span class="example-fill-remaining-space"></span>
        <button *ngIf="_authService.isAuthenticated()" mat-button [routerLink]="'/reports'"> דוחות </button>
        <button *ngIf="_authService.isAuthenticated()" mat-button [routerLink]="'/transactions'"> תנועות </button>
        <button *ngIf="_authService.isAuthenticated()" mat-button [routerLink]="'/users'"> מתפללים </button>        
        <button *ngIf="!_authService.isAuthenticated()" mat-button [routerLink]="'/login'"> התחבר </button>        
        <button *ngIf="_authService.isAuthenticated()" mat-button (click)="_authService.signOut()"> התנתק </button>        
    </mat-toolbar-row>     
  </mat-toolbar>