<!-- <div class="invoice" *ngFor="let invoice of invoiceIds">
    <h1>Invoice Num. {{ invoice }}</h1>
</div> -->
<div *ngFor="let report of reports" class="invoice">
    <div class=report-header>
        <div>:לכבוד</div>
        <div>{{report.payload.fullName}}</div>
        <div>{{hebrewDate.festival}} להלן פירוט פעילותך בחשבון עד ל</div>
    </div>
    <table dir="rtl">
        <thead>
            <th>תאריך</th>
            <th>פרטים</th>
            <th>חובה\זכות</th>
        </thead>
        <tbody>
            <ng-container *ngFor="let row of report.payload.transactions">
                <tr>
                    <td>{{ row.date }}</td>
                    <td>{{ row.description }}</td>
                    <td class="amount">{{ row.amount }}</td>
                </tr>
            </ng-container>



        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="footer-space">&nbsp;</div>
                </td>
                <td>
                    <div>סה"כ יתרתך:</div>
                </td>
                <td class="amount">
                    <div>{{report.payload.closingBalance}}</div>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="report-footer">תזכו לשנים רבות ומועדים טובים</div>
</div>