.invoice { page-break-after: always; }
.invoice:last-child { page-break-after: avoid; }


table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  
  table tr:nth-child(4n+0) {
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid
  }

  table td.amount {
    direction: ltr;
    text-align: center;
    
  }
  table tfoot{
    font-weight: bold;
  }

  table tfoot tr td.amount{
    background-color:lightgray;
    
  }