<div class="right-align">
    <h5>חיפוש:</h5>
    <form [formGroup]="searchForm" (ngSubmit)="searchTransactions(searchForm.value)" class="form">
        <mat-form-field class="form-element">
            <input matInput placeholder="מתפלל" formControlName="user" [matAutocomplete]="autoUser">
        </mat-form-field>

        <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="displayUser">
            <mat-option *ngFor="let user of search.filteredUsers | async" [value]="user.id">
                {{ user.fullName }}
            </mat-option>
        </mat-autocomplete>

        <mat-form-field class="form-element">
            <input matInput type="date" formControlName="from">
            <mat-error *ngIf="!searchForm.controls['from'].valid">
                from has to be before to
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput type="date" formControlName="to">
            <mat-error *ngIf="!searchForm.controls['to'].valid">
                to has to be after from
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
            <input matInput placeholder="סוג תנועה" formControlName="typeId" [matAutocomplete]="autoTransType">
        </mat-form-field>

        <mat-autocomplete #autoTransType="matAutocomplete" [displayWith]="displayTransType">
            <mat-option *ngFor="let tran of search.filteredTransactionsTypes | async" [value]="tran.id">
                {{ tran.name }}
            </mat-option>
        </mat-autocomplete>

        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!searchForm.valid">חיפוש
        </button>


    </form>

    


</div>



<table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource" dir="rtl">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>מספר תנועה</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
        <td mat-footer-cell *matFooterCellDef>
            *
        </td>
    </ng-container>

    <!-- User Name Column -->
    <ng-container matColumnDef="userFullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>מתפלל</th>
        <td mat-cell *matCellDef="let row">
            <ng-container
                *ngIf="action == 'edit' && row.id==updatedTransactionId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #editTemplate>
                {{row.userFullName}}
            </ng-template>

            <ng-template #saveTemplate>
                <mat-form-field>
                    <mat-select placeholder="{{row.userFullName}}" [(ngModel)]="row.userId"
                        (openedChange)="userNameInput.focus()">
                        <input #userNameInput matInput focused="'true'" type="text"
                            (keyup)="filterUsers($event.target.value,row)" autocomplete="off">
                        <mat-option *ngFor="let user of row.filteredUsers" [value]="user.id">
                            {{user.fullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field>
                <mat-select #userNameSelect placeholder="מתפלל" [(ngModel)]="newRow.userId" (openedChange)="userNameInput.focus()">
                    <input #userNameInput matInput focused="'true'" type="text"
                        (keyup)="filterUsers($event.target.value,newRow)" autocomplete="off">
                    <mat-option *ngFor="let user of newRow.filteredUsers" [value]="user.id">
                        {{user.fullName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>סוג תנועה</th>
        <td mat-cell *matCellDef="let row">
            <ng-container
                *ngIf="action == 'edit' && row.id==updatedTransactionId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #editTemplate>
                {{this.transactionsTypes[row.typeId]}}
            </ng-template>

            <ng-template #saveTemplate>
                <mat-form-field>
                    <mat-select placeholder="סוג תנועה" [(ngModel)]="row.typeId" (openedChange)="myInput.focus()">
                        <input #myInput matInput focused="'true'" type="text"
                            (keyup)="filterTransactions($event.target.value,undefined)" autocomplete="off">
                        <mat-option *ngFor="let transSettings of filteredTransactionsTypes" [value]="transSettings.id">
                            {{transSettings.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field>
                <mat-select placeholder="סוג תנועה" [(ngModel)]="newRow.typeId" (openedChange)="myInput.focus()">
                    <input #myInput matInput focused="'true'" type="text"
                        (keyup)="filterTransactions($event.target.value,undefined)" autocomplete="off">
                    <mat-option *ngFor="let transSettings of filteredTransactionsTypes" [value]="transSettings.id">
                        {{transSettings.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <!-- Desc Column -->
    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>תיאור</th>
        <td mat-cell *matCellDef="let row">
            <ng-container
                *ngIf="action == 'edit' && row.id==updatedTransactionId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #saveTemplate>
                <mat-form-field>
                    <input matInput [(ngModel)]="row.comment">
                </mat-form-field>
            </ng-template>

            <ng-template #editTemplate>
                {{row.comment}}
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field>
                <input placeholder="תיאור" matInput [(ngModel)]="newRow.comment">
            </mat-form-field>
        </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>סכום</th>
        <td mat-cell *matCellDef="let row" [ngClass]="{'amount-field':true,'positive':row.amount>0,'negative':row.amount<0}">
            <ng-container
                *ngIf="action == 'edit' && row.id==updatedTransactionId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #saveTemplate>
                <mat-form-field>
                    <input matInput [(ngModel)]="row.amount">
                </mat-form-field>
            </ng-template>

            <ng-template #editTemplate>
                {{row.amount}}
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field [ngClass]="'amount-field'">
                <input placeholder="סכום" matInput [(ngModel)]="newRow.amount">
            </mat-form-field>
        </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>תאריך</th>
        <td mat-cell *matCellDef="let row">
            <ng-container
                *ngIf="action == 'edit' && row.id==updatedTransactionId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #saveTemplate>
                <mat-form-field>
                    <input matInput [(ngModel)]="row.date">
                </mat-form-field>
            </ng-template>

            <ng-template #editTemplate>
                {{row.date}}
            </ng-template>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <mat-form-field>
                <input type="date" matInput [(ngModel)]="newRowDate" name="newRow.date">
            </mat-form-field>
        </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let row" class="action-link">
            <ng-container
                *ngIf="action == 'edit' && row.id==updatedTransactionId; then saveTemplate; else editTemplate">
            </ng-container>
            <ng-template #editTemplate>
                <button class="btn btn-success" (click)="setAction('edit',row)">
                    <i class="fa fa-edit"></i>
                </button>
            </ng-template>
            <ng-template #saveTemplate>
                <button class="btn btn-success" (click)="saveTransaction(row)">
                    <i class="fa fa-save"></i>
                </button>
            </ng-template>

            <button class="btn btn-danger" (click)="onDeleteClick(row.id)">
                <i class="fa fa-remove"></i>
            </button>
        </td>
        <td mat-footer-cell *matFooterCellDef>
            <button class="btn" mat-button (click)="addTransaction()" dir="rtl" mat-flat-button color="primary">
                <i class="fa fa-plus"></i>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>