/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

        
table {
    text-align: right;
    margin-right: 0px;
    margin-left: auto
}
.amount-field {
  direction: ltr;
}

.mat-row {
    height: auto !important;
  }
  
  .mat-cell {
    padding-left: 8px !important;    
  }

  td button.btn {
    margin-left: 5px;
    padding: 1px 4px;
  }

  @media print {
    mat-toolbar * {display:none;}    
    div.non-printable { display: none; }
    div.printable { display: block !important; }
  }